In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime 
import time
import numpy as np

In [2]:
bit_file = "bitstamp.csv"
bit_df = pd.read_csv(bit_file)
bit_df.dropna(inplace = True)
bit_df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
478,1325346600,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
547,1325350740,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
548,1325350800,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
1224,1325391360,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000

In [3]:
coin_file = "coinbase.csv"
coin_df = pd.read_csv(coin_file)
coin_df.dropna(inplace = True)
coin_df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.010000,3.00000,300.0
7,1417412400,300.0,300.0,300.0,300.0,0.010000,3.00000,300.0
51,1417415040,370.0,370.0,370.0,370.0,0.010000,3.70000,370.0
77,1417416600,370.0,370.0,370.0,370.0,0.026556,9.82555,370.0
1436,1417498140,377.0,377.0,377.0,377.0,0.010000,3.77000,377.0

In [4]:
converted_bit_df = pd.to_datetime(bit_df['Timestamp'], unit='s')
converted_bit_df

0         2011-12-31 07:52:00
478       2011-12-31 15:50:00
547       2011-12-31 16:59:00
548       2011-12-31 17:00:00
1224      2012-01-01 04:16:00
                  ...
3997692   2019-08-11 23:56:00
3997693   2019-08-11 23:57:00
3997694   2019-08-11 23:58:00
3997695   2019-08-11 23:59:00
3997696   2019-08-12 00:00:00
Name: Timestamp, Length: 2765819, dtype: datetime64[ns]

In [5]:
converted_coin_df = pd.to_datetime(coin_df['Timestamp'], unit='s')
converted_coin_df

0         2014-12-01 05:33:00
7         2014-12-01 05:40:00
51        2014-12-01 06:24:00
77        2014-12-01 06:50:00
1436      2014-12-02 05:29:00
                  ...
2099755   2019-01-07 22:02:00
2099756   2019-01-07 22:03:00
2099757   2019-01-07 22:04:00
2099758   2019-01-07 22:05:00
2099759   2019-01-07 22:06:00
Name: Timestamp, Length: 1990691, dtype: datetime64[ns]

In [6]:
def translate_function(raw_datetime):
    return datetime.datetime.strptime(str(raw_datetime)[:10], "%Y-%m-%d").date()

In [7]:
new_bit_convert = converted_bit_df.apply(translate_function)
print(new_bit_convert)

0          2011-12-31
478        2011-12-31
547        2011-12-31
548        2011-12-31
1224       2012-01-01
              ...
3997692    2019-08-11
3997693    2019-08-11
3997694    2019-08-11
3997695    2019-08-11
3997696    2019-08-12
Name: Timestamp, Length: 2765819, dtype: object

In [8]:
new_coin_convert = converted_coin_df.apply(translate_function)
print(new_coin_convert)

0          2014-12-01
7          2014-12-01
51         2014-12-01
77         2014-12-01
1436       2014-12-02
              ...
2099755    2019-01-07
2099756    2019-01-07
2099757    2019-01-07
2099758    2019-01-07
2099759    2019-01-07
Name: Timestamp, Length: 1990691, dtype: object

In [20]:
bit_df['Timestamp'] = new_bit_convert
new_bit_df = bit_df[['Timestamp','Close']]
new_bit_df.head()

       Timestamp  Close
0     2011-12-31   4.39
478   2011-12-31   4.39
547   2011-12-31   4.57
548   2011-12-31   4.58
1224  2012-01-01   4.58

In [21]:
coin_df['Timestamp']= new_coin_convert
new_coin_df = coin_df[['Timestamp','Close']]
new_coin_df.head()

       Timestamp  Close
0     2014-12-01  300.0
7     2014-12-01  300.0
51    2014-12-01  370.0
77    2014-12-01  370.0
1436  2014-12-02  377.0

In [23]:
merged_df = pd.merge(new_bit_df, new_coin_df, on='Timestamp', suffixes = ('_bit','_coin'))
merged_df.head()

MemoryError: